:root {
    --dark: #212121;
    --light: #fafafa;

    --lightRed: #ef5350;
    --darkRed: #ec3e3b;

    --orange: #ffa726;
    --green: #66bb6a;
    --blue: #42a5f5;
    --purple: #ab47bc;
}
